main {
  display: flex;
  flex-direction: row;
}
.items-container{
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  text-align: right;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}